.not-found {
  text-align: center;
  margin: 245px 0 60px;
}

.not-found__title {
  font-style: normal;
  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
  color: #000000;
  margin: 0;
}

.not-found__description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 5px 0 185px;
}

.not-found__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #3456f3;
  padding: 0;
  border: 0;
  background-color: unset;
}

.not-found__link:hover {
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .not-found {
    margin: 410px 0 220px;
  }
}

@media screen and (max-width: 425px) {
  .not-found {
    margin: 330px 0 30px;
  }

  .not-found__title {
    font-size: 80px;
    line-height: 97px;
  }

  .not-found__description {
    font-size: 12px;
    line-height: 15px;
    margin: 10px 0 285px;
  }

  .not-found__link {
    font-size: 12px;
    line-height: 15px;
  }
}
