.header {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
  height: 74px;
  margin-left: 70px;
  margin-right: 70px;
  align-self: normal;
}

.header__navigation {
  visibility: hidden;
  position: absolute;
}

.header__navigation_active {
  display: flex;
  visibility: visible;
  align-items: center;
}

.header__button_login {
  font-style: normal;
  font-weight: 500;
  background: #3456f3;
  border-radius: 3px;
  border: 0;
  color: #ffffff;
  padding: 8px 20px;
  margin: 0 0 0 30px;
  text-decoration: none;
}

.header__button_register {
  font-style: normal;
  font-weight: 500;
  background: none;
  border: 0;
  color: #000000;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}

.header__button_account {
  width: 100px;
  height: 30px;
  border: 0;
  padding: 0;
  background-image: url(../../images/account.svg);
  margin-left: 50px;
}
.header__text {
  font-style: normal;
  font-weight: 500;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  text-decoration: none;
}

.header__text:first-child {
  margin-right: 20px;
}

.header__burger {
  visibility: hidden;
  position: absolute;
}

.header__burger_active {
  visibility: visible;
}

.header__menu {
  visibility: hidden;
  position: absolute;
}

.header__menu_active {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  visibility: visible;
  height: 100%;
  width: 68%;
  background-color: #fafafa;
  align-items: center;
  justify-content: space-between;
}

.header__burger_active:hover {
  cursor: pointer;
}

.header__menu_close {
  position: absolute;
  top: 22px;
  right: 22px;
  height: 22px;
  width: 22px;
}

.header__menu_close:hover {
  cursor: pointer;
}

.header__menu_text {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.header__menu_text:hover {
  text-decoration: underline;
}

.header__menu_item:nth-of-type(2) {
  margin-top: 28px;
  margin-bottom: 28px;
}

.header__menu_account {
  width: 100px;
  height: 30px;
  border: 0;
  padding: 0;
  background-image: url(../../images/account.svg);
  margin-bottom: 100px;
}

.header__menu_list {
  margin: 160px 0 0 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .header {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 425px) {
  .header__menu_active {
    width: 100%;
  }

  .header__menu_list {
    margin: 140px 0 0 0;
    padding: 0;
    list-style: none;
  }

  .header__menu_account {
    margin-bottom: 50px;
  }

  .header__menu_item:nth-of-type(2) {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin-left: 14px;
    margin-right: 14px;
  }
}
