.movies-card {
  width: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
}

.movies-card__top {
  display: flex;
  margin: 14px;
  justify-content: space-between;
  align-items: center;
}

.movies-card__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.movies-card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin: 0 0 9px 0;
}

.movies-card__duration {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #a0a0a0;
  margin: 0;
}

.movies-card__options {
  width: 30px;
  height: 30px;
  border: 0;
  padding: 0;
  border-radius: 36px;
}

.movies-card__options:hover {
  cursor: pointer;
}

.movies-card__favorites {
  background-image: url(../../../images/favorites_off.svg);
}

.movies-card__favorites_active {
  background-image: url(../../../images/favorites_on.svg);
}

.movies-card__preview {
  box-sizing: border-box;
  width: 100%;
  object-fit: cover;
}

.movies-card__delete {
  background-image: url(../../../images/movies_delete.svg);
}

@media screen and (max-width: 768px) {
  .movies-card {
    width: 339px;
    height: 258px;
  }
}

@media screen and (max-width: 425px) {
  .movies-card {
    width: 300px;
    height: 236px;
  }
}
