.search-form {
  margin: 80px 70px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-form__field {
  display: flex;
  align-items: center;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  height: 48px;
  width: 929px;
  border-radius: 50px;
}

.search-form__input {
  width: 100%;
  height: 100%;
  padding: 0 0 0 22px;
  box-sizing: border-box;
  border: none;
  background-color: inherit;
}

.search-form__button {
  background-image: url(../../../images/search_button.svg);
  background-repeat: no-repeat;
  min-width: 80px;
  height: 34px;
  border: none;
  border-radius: 48px;
  margin-right: 7px;
  padding: 0;
}

.search-form__button:hover {
  cursor: pointer;
}

.search-form__input:focus {
  outline-color: #3456f3;
}

.search-form__text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  margin: 0 16px 0 0;
}

.search-form__contain {
  display: flex;
}

.search-form__line {
  background-color: #aaaaaa;
  opacity: 0.2;
  margin: 80px 0 10px;
  width: 100%;
}

.search-form__switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
  border-radius: 16px;
}

.search-form__switch .search-form__checkbox {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fafafa;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: grey;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search-form__checkbox:checked + .slider {
  background-color: #fafafa;
}

.search-form__checkbox:focus + .slider {
  box-shadow: 0 0 1px #fafafa;
}

.search-form__checkbox:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  background-color: #2be080;
}

.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 1279px) {
  .search-form {
    flex-direction: column;
    justify-content: unset;
  }

  .search-form__field {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .search-form {
    margin: 60px 30px 0;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 320px) {
  .search-form {
    margin: 60px 10px 0;
    flex-wrap: nowrap;
  }
}
