.about-me {
  margin: 110px 70px 100px;
}

.about-me__title {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000000;
}

.about-me__line {
  margin-top: 23px;
  margin-bottom: 66px;
}

.about-me__contain {
  display: flex;
  justify-content: space-between;
}

.about-me__contain_text {
  max-width: 600px;
}

.about-me__name {
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 0;
}

.about-me__who {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  mix-blend-mode: normal;
  margin: 18px 0 26px;
}

.about-me__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  margin: 0 0 100px 0;
}

.about-me__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.about-me__item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.about-me__item:first-child {
  margin-right: 20px;
}

.about-me__item_link {
  text-decoration: none;
  color: inherit;
}

.about-me__image {
  width: 270px;
  height: 327px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .about-me {
    margin: 90px 50px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__who {
    font-size: 12px;
    line-height: 18px;
    margin: 16px 0 20px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 90px 0;
  }

  .about-me__image {
    width: 255px;
    height: 307px;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .about-me {
    margin: 90px 50px;
  }

  .about-me__image {
    width: 150px;
    height: 167px;
  }

  .about-me__contain_text {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .about-me__contain_text {
    margin-right: 50px;
  }
}

@media screen and (max-width: 425px) {
  .about-me__contain {
    flex-direction: column-reverse;
    justify-content: unset;
  }

  .about-me__image {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
  }

  .about-me__line {
    margin-top: 28px;
    margin-bottom: 60px;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__who {
    font-size: 11px;
    line-height: 16px;
    margin: 20px 0 20px;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 40px 0;
  }
}

@media screen and (max-width: 320px) {
  .about-me {
    margin: 70px 18px;
  }
}
